/* ===== CREDENCIAL DIGITAL ===== */

.credencial {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 43, 91, 0.25);
  border: 1px solid #0097b2;
  max-width: 420px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  color: #1b2a41;
  font-family: 'Poppins', sans-serif;
}

.credencial-header {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #0097b2;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.logo-uteq {
  width: 100px;
  height: 100px;
}

.credencial-body {
  display: flex;
  gap: 15px;
  align-items: center;
}

.foto-alumno {
  width: 90px;
  height: 110px;
  border-radius: 10px;
  border: 2px solid #0097b2;
  object-fit: cover;
}

.datos-alumno h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #002b5b;
}

.datos-alumno p {
  margin: 2px 0;
  font-size: 0.95rem;
}

.credencial-footer {
  border-top: 1px solid #0097b2;
  margin-top: 10px;
  padding-top: 8px;
  text-align: center;
  font-size: 0.85rem;
  color: #005b96;
}
